*,
*::before,
*::after {
  margin: 0;
  padding: 0;
} 


html {
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(/images/elnaz-asadi-vegetation-medium.jpg);
  background-size: contain;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.logo {
  font-family: 'Righteous', cursive;
  font-size: 3rem;
  color: #486845;
  text-shadow:1px 0 0 #E5E7EB,0 1px 0 #E5E7EB,-1px 0 0 #E5E7EB,0 -1px 0 #E5E7EB;
  text-align: center;
}

main {
  background-color: rgba(255, 255, 255, .85);
}

.intro,
span,
label,
input,
button,
.form-submit {
  font-family: 'Roboto', sans-serif;
}

.intro {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1.5rem 1rem;
  text-align: left;
  line-height: 1.2rem;
}

span {
  font-weight: 300;
  font-style: italic;
}

.intro>p:nth-child(n+2) {
  color:green;
  margin-top: 0.8rem;
}

.form {
  /* min-height: 50vh; */
  background-color: #F9FAFB;
  padding: .5rem 1rem;
}

label,
input {
  display: block;
}

label {
  font-weight: 300;
  letter-spacing: 4px;
  font-size: .7rem;
  margin-top: 2rem;
}

input {
  font-weight: 400;
  font-size: 20px;
  margin-top: .2rem;
  height: 1.8rem;
  width: 100%;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding-left: 10px;
}

input:last-child {
  margin-bottom: 2rem;
}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  font-size: 1.2rem;
}

button {
  background-color: #486845;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
}

.form-submit>p {
  font-weight: 300;
}

a {
  font-weight: 500;
}